{erl_opts, [debug_info]}.
{deps, [
  {jiffy, {git, "https://github.com/davisp/jiffy.git", {branch, "master"}}}
]}.

{relx, [{release, { cmdbuild_bus, "1.0" },
         [cmdbuild_bus,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
